<a href="https://colab.research.google.com/github/EchoFalcon3/Functions/blob/main/practicefile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input())
for i in range(n):
    print(i, end='')

6
012345

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10]
result = [n*n for n in nums if n % 2 == 0]

print(result)

[4, 16, 36, 64, 100]

In [ ]:
words = ["apple", "banana", "cherry", "date", "kiwi", "mango"]
new_word = [word for word in words if len(word) >= 5]
print(new_word)

['apple', 'banana', 'cherry', 'mango']

In [ ]:
nums = [10, 21, 32, 43, 54, 65]
string_list = ['even' if num % 2 == 0 else 'odd' for num in nums ]
print(string_list)

['even', 'odd', 'even', 'odd', 'even', 'odd']

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.
Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

In [ ]:
students = []

for _ in range(int(input())):
    name = input()
    score = float(input())
    students.append([name, score])

# Extract unique scores and sort them
unique_scores = sorted(set(score for name, score in students))

# Second lowest score is the second item in sorted unique scores
second_lowest = unique_scores[1]

# Get list of students with the second lowest score
second_lowest_students = [name for name, score in students if score == second_lowest]

# Print names in alphabetical order
for name in sorted(second_lowest_students):
    print(name)

In [ ]:
student = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
print(student["name"])
student["Country"]= "USA"
print(student)

John
{'name': 'John', 'age': 25, 'city': 'New York', 'Country': 'USA'}

In [ ]:
fruits = {
    "apple": 100,
    "banana": 40,
    "mango": 80,
    "kiwi": 120
}
for fruit in fruits:
  print(fruit)
for fruit in fruits:
  print(fruits[fruit])

apple
banana
mango
kiwi
100
40
80
120

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

In [ ]:
n = int(input())

student_marks = {}

for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores

query_name = input()

scores = student_marks[query_name]
average = sum(scores) / len(scores)

print(f"{average:.2f}")

In [ ]:
fruits = {
    "apple": 100,
    "banana": 40,
    "mango": 80,
    "kiwi": 120
}

names = list(fruits.keys())
price = sorted(list(fruits.values()))

highest_price = price[3]
highest_fruit = names[price.index(highest_price)]
print(highest_fruit)

In [ ]:
inventory = {
    "laptop": 12,
    "mouse": 50,
    "keyboard": 34,
    "monitor": 20,
    "printer": 5
}
item_list = list(inventory.keys())
item_quantity = list(inventory.values())
#Dictionary comprehension to filter items

low_stock = {item: qty for item , qty in inventory.items() if qty < 20}
print(low_stock)
# List comprehension to get only item names

low_items = [item  for item , qty in inventory.items() if qty < 20]
print(low_items)
# List comprehension to get only item,qty both

low_items_qty = [[item,qty ] for item , qty in inventory.items() if qty < 20]
print(low_items_qty)

{'laptop': 12, 'printer': 5}
['laptop', 'printer']
[['laptop', 12], ['printer', 5]]

In [ ]:
marks = {
    "Alice": {"Math": 90, "Science": 85, "English": 88},
    "Bob": {"Math": 75, "Science": 80, "English": 70},
    "Charlie": {"Math": 95, "Science": 92, "English": 89}
}
#average for 1 student
student_score = {"Math": 90, "Science": 85, "English": 88}
avg = sum(student_score.values())/ len(student_score.keys())
print(avg)

averages = {}
for students,subjects in marks.items():
  avg = sum(subjects.values())/ len(subjects.keys())
  averages[students] = avg
print(averages)

87.66666666666667
{'Alice': 87.66666666666667, 'Bob': 75.0, 'Charlie': 92.0}

In [ ]:
population = {
    "USA": 331002651,
    "India": 1380004385,
    "China": 1439323776,
    "Brazil": 212559417,
    "Pakistan": 220892340
}
ppl = list(population.values())
country = list(population.keys())
max_ppl = max(ppl)
min_ppl = min(ppl)

contry_max = {country for country,ppl in population.items() if ppl == max_ppl}
contry_min = {country:ppl for country,ppl in population.items() if ppl == min_ppl}
print(contry_max)
print(contry_min)

new_population = {country:ppl for country,ppl in population.items() if ppl > 50000000}

{'China'}
{'Brazil': 212559417}